<div class="col-md-12">
	<div class="row">
		{{#each furnitureArray}}
		<div class="col-sm-4">
			<div class="card">
				<a href="/furnitures/{{this._id}}">
					<img class="card-img-top" src="{{this.pictures.url.[1]}}" alt="Card image cap"
						style="height: 200px; width: 100%; display: block;">
				</a>
				<div class="card-body">
					<h5 class="card-title"> {{this.name}} </h5>
					<p class="card-text">${{this.stdPrice}}.00</p>
					<p class="card-text"> {{this.description}}</p>
					<a href="/furnitures/{{this._id}}" class="btn btn-primary">See </a>
				</div>
			</div>
		</div>
		{{/each}}

	</div>