<div class="bg-light pb-4 p-3">
	<div class="row">

		{{#with furnitureItem}}

		{{!-- furniture gallery TODO owlcarousel --}}
		<div class="col-md-6">
			<div class="furnitureItem-gallery w-50 h-25">
				<div class="furniture-pictures-carousel h-25">
					<ul class="list-unstyled list-inline">
						{{#each this.pictures.url}}
						<li><a href="#"><img src="{{this}}" alt="Product" class="product-thumbnail img-fluid"></a></li>
						{{/each}}
					</ul>
				</div>

				<ul class="product-thumbnails d-none list-unstyled">
					{{#each this.pictures.url}}
					<li><a href="#"><img src="{{this}}" alt="Product" class="product-thumbnail img-fluid"></a></li>
					{{/each}}
				</ul>

			</div>
		</div>

		{{!-- furniture card --}}
		<div class="col-md-6">
			<div class="card border-default bg-white pt-2 shadow-sm">
				<div class="card-body">
					<h2 class="mb-3">{{this.name}}</h2>
					<h3 class="text-normal"> ${{this.stdPrice}}.00</h3>
					<p class="text-sm text-muted">{{this.description}}</p>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="sp-color">Color:</label>
								<select class="form-control" id="sp-color">
									<option>Default</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="sp-accent-color">Material:</label>
								<select class="form-control" id="sp-accent-color">
									{{#each this.material}}
									<option value="{{this}}">{{capitalize this}}</option>
									{{/each}}
								</select>
							</div>
						</div>
					</div>
					<div class="row align-items-end mb-4">
						<div class="col-sm-4">
							<div class="form-group mb-0">
								<label for="sp-quantity">Quantity:</label>
								<select class="form-control" id="sp-quantity">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="pt-4 hidden-sm-up"></div>
							<a class="btn btn-primary my-0" href="/furnitures/{{this._id}}/add-to-cart">Add To Cart <i
									class="fa fa-shopping-cart" aria-hidden="true"></i></a>
							<button class="btn btn-primary my-0">Download <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
							</button>
						</div>
					</div>
					<ul class="list-unstyled text-sm mb-4">
						<li class="text-muted text-small">SKU: {{this.serialNumber}}</li>
						<li><span class="text-dark text-medium">Category:</span> <a href="/furnitures/category/{{this.type}}"
								class="navi-link">{{capitalize this.type}}</a></li>
					</ul>
					<div class="d-flex flex-wrap justify-content-around align-items-center">
						<a class="btn btn-secondary btn-sm" href="#">&nbsp;Save To Wishlist</a>
						<a class="btn btn-outline-warning btn-sm" href="/furnitures/{{this._id}}/edit">&nbsp;Edit</a>

						<div class="py-2">
							<span class="d-inline-block align-middle text-sm text-muted mr-2">Share:</span>
							<a class="text-muted mr-2" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a class="text-muted mr-2" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a class="text-muted mr-2" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a class="text-muted mr-2" href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{/with}}
	</div>
</div>