{{#with manufacturerItem}}
<div class="show-workshop-details w-100 position-fixed" style="background-image: url({{this.pictures.[1]}})"></div>
<div class="jumbotron text-light">
	<h1>{{this.name}}</h1>
	<p class="lead text-light mt-4"><i class="fa fa-map-marker"></i> {{this.address.city}}, {{this.address.country}}. <br>
		{{this.address.streetAddress}}
		{{this.address.zipCode}} <br> {{this.phoneNum}}</p>
</div>

<div class="container">
	<div class="row">
		<h2>Presentation</h2>
		{{this.description}}
	</div>
	<hr>
	<div class="row">
		<h2>Page Content</h2>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
		Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
		dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
		Aliquam in felis sit amet augue.
		<h2>Available</h2>
		Cupidatat veniam dolor culpa nisi est enim sint occaecat aute minim est consequat nulla adipisicing. Quis ex Lorem
		dolore consectetur qui amet labore cillum.
		<br>
		<ul class="list-unstyled">
			{{#each this.availableProcess}}
			<li>- {{this}}</li>
			{{/each}}
		</ul>
	</div>

	<hr>

	<div class="row">
		<h2>Location</h2>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
		Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
		dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
		Aliquam in felis sit amet augue.
	</div>
</div>

<hr>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<p>The End.</p>
		</div>
	</div>
</div>
{{!-- <h2 class="mb-3">{{this.name}}</h2>
					<h3 class="text-normal"> ${{this.phoneNum}}</h3>
					<p class="text-sm text-muted">{{this.description}}</p>
					<p class="text-sm text-muted">
						<ul class="list-unstyled">
							<p class="lead">Available skills</p>
							{{#each this.availableProcess}}
							<li class="text-info">- {{this}}</li>
							{{/each}}
						</ul>
					</p>
						<a class="btn btn-outline-warning btn-sm" href="/workshops/{{this._id}}/edit">&nbsp;Edit</a> --}}
{{/with}}