<div class="bg-light pb-4 p-3">
	<div class="row">

		{{#with furnitureItem}}

		{{!-- furniture gallery TODO owlcarousel --}}
		<div class="col-md-6">
			<div class="furnitureItem-gallery w-50 h-25">
				<div class="owl-carousel h-25">
					<ul class="list-unstyled list-inline">
						{{#each this.pictures.url}}
						<li><a href="#"><img src="{{this}}" alt="Product" class="product-thumbnail img-fluid"></a></li>
						{{/each}}
					</ul>
				</div>

				<ul class="product-thumbnails d-none list-unstyled">
					{{#each this.pictures.url}}
					<li><a href="#"><img src="{{this}}" alt="Product" class="product-thumbnail img-fluid"></a></li>
					{{/each}}
				</ul>

			</div>
		</div>

		{{!-- furniture card --}}
		<div class="col-md-6">
			<div class="card border-default bg-white pt-2 shadow-sm">
				<div class="card-body">
					<h2 class="mb-3">{{this.name}}</h2>
					<p class="text-sm text-muted">{{this.description}}</p>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="sp-color">Color:</label>
								<select class="form-control" id="sp-color">
									<option>Default</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="sp-accent-color">Material:</label>
								<select class="form-control" id="sp-accent-color">
									{{#each this.material}}
									<option value="{{this}}">{{capitalize this}}</option>
									{{/each}}
								</select>
							</div>
						</div>
					</div>


					<ul class="list-unstyled text-sm mb-4">
						<li><span class="text-dark text-medium">Category:</span> <a href="/furnitures/category/{{this.type}}"
								class="navi-link">{{capitalize this.type}}</a></li>
					</ul>
					{{#if ../quote}}
<<<<<<< HEAD
                    <a class="btn btn-outline-danger ml-2" href="/collaboration/{{../quote._id}}/delete"
					onclick="return confirm('Are you sure you don't want to collaborate?')">Remove collab </a>
                    {{else}}
						<a class="btn btn-outline-success ml-2" href="/collaboration/{{this._id}}/{{this.creator}}/check"
					onclick="return confirm('Are you sure you want to participate to thit project?')">I want to collaborate! <i class="fas fa-thumbs-up"></i></a>
                    {{/if}}
						
					</div>
=======
					<a class="btn btn-outline-danger ml-2" href="/collaboration/{{../quote._id}}/delete"
						onclick="return confirm('Are you sure you don't want to collaborate?')">Remove collab </a>
					{{else}}
					<a class="btn btn-success ml-2" href="/collaboration/{{this._id}}/check"
						onclick="return confirm('Are you sure you want to participate to thit project?')">I want to collaborate! <i
							class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					</a>
					{{/if}}

>>>>>>> a5b5186a7fb26bf211fbc849a4cf50a037103c71
				</div>
			</div>



			{{/with}}
		</div>
	</div>

	<script>

	</script>